<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198282319223-5s98q0ci2jqsiq2s6dd19ct1cpci1phc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198282319223-5s98q0ci2jqsiq2s6dd19ct1cpci1phc</string>
	<key>API_KEY</key>
	<string>AIzaSyAdB-5INevgueSmbQMg4ud7JPpbvAWz99U</string>
	<key>GCM_SENDER_ID</key>
	<string>198282319223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.proximity.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-flutter-projectankit</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-flutter-projectankit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198282319223:ios:146f588b5e86be2aae3d72</string>
</dict>
</plist>